* {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

h1 {
    font-family: fantasy;
    font-size: 70px;
    text-align: center;
    background-color: black;
    color: yellow;
    padding: 15px;
}

h2 {
    text-align: center;
    /*color: #3B72C9;*/
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: red;
    text-shadow: 1px 1px 2px black;
}

#zippy {
    color:#7B497F;
}

#golly {
    color: #FFD000;
}

#garsh {
    color: #143EFF;
}

#mickey {
    color: #38FF17;
}

h3 {
    border: 3px solid white;
    margin: 15px;
    /*text-shadow: 1px 1px 2px red;*/
    color: black;
    font-size: 35px;
    font-family: fantasy;
    background-color: #FF530D;
}